@font-face {
    font-family: 'Pokemon Hollow';
    src: url('../fonts/PokemonGb-RAeo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pokemon Hollow', sans-serif;
}




.pokemonBorder {
  border-style: double;
  border-radius: 1rem;

  background-color: whitesmoke;
  color: black;
  box-shadow: inset 0px 5px 1px black, 0px 5px 1px black;
}
.prueba{
color:lightskyblue;
background-color: blanchedalmond;
}