{% extends "base.html" %}

{% block title %}Trainer Details{% endblock %}
{% block main %}



<div class="overflow-x-auto h-[100%] flex flex-col justify-around p-4">
  <table class="table bg-base-300">
 
    <thead>
      <tr>
        <th class="px-4 border text-center">Date</th>
        <th class="px-4 border text-center">Attacker Name</th>
        <th class="px-4 border text-center">Attacker Pokemon</th>
        <th class="px-4 border text-center">Defender Name</th>
        <th class="px-4 border text-center">Defender Pokemon</th>
        <th class="px-4 border text-center">Result</th>



      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-4 border text-center">{{date}}</td>
        <td class="px-4 border text-center">{{battle_details.attacker.name}}</td>
        <td class="px-4 border text-center">{{user_pokemon.name|capitalize}}</td>
        <td class="px-4 border text-center">{{battle_details.defender.name}}</td>
        <td class="px-4 border text-center">{{enemy_pokemon.name|capitalize}}</td>


        {% if battle_details.result =="1" %}
        <td class="px-4 border text-center">Winner {{battle_details.attacker.name}}</td>
        {%else%}
        <td class="px-4 border text-center">Winner {{battle_details.defender.name}}</td>
  

        {%endif%}
      </tr>
    </tbody>
  </table>

  <figure class="flex justify-evenly gbg-base-300 relative rounded-2xl overflow-hidden">
    <div class="bg-red-400 w-[100%] flex flex-col justify-center items-center">
      <img class="h-50" src="{{url_for('static', filename=battle_details.attacker.sprite)}}" alt="">
      <img class="h-100" src="{{user_pokemon.sprites.front_default}}" alt="{{user_pokemon.name}}">

    </div>
    <div class="divider divider-horizontal absolute z-10 bottom-[50%] text-5xl">Versus</div>
    <div class="bg-blue-400 w-[100%] flex flex-col justify-center items-center">

      <img class="h-50" src="{{url_for('static', filename=battle_details.defender.sprite)}}" alt="">
      <img class="h-100" src="{{enemy_pokemon.sprites.front_default}}" alt="{{enemy_pokemon.name}}">
    </div>
  </figure>


</div>
{%endblock%}