{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block main %}

<div class="hero  bg-cover bg-no-repeat"
  style="background-image: url(../static/images/Batalla\ Épica\ en\ la\ Liga\ Pokémon.png);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center flex flex-col justify-center items-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Badge Battles</h1>
      <p class="mb-5">
        Welcome to this page, where you have the chance of winning all the
        badges!
      </p>
    </div>
    <form class="flex flex-col items-start gap-4" action="{{url_for('home.welcome')}}" method="POST">
      <div class="flex flex-col justify-start items-start"> 
        <label for="trainer">Trainer name:</label>
        <input type="text" name="trainer" id="trainer" autofocus required>
      </div>
      <div class="flex flex-col justify-start items-start">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div>

      {#<div class="flex flex-col gap-2">
        <label for="gender">Gender:</label>
        <label class=" pl-2 flex justify-between">
          Male
          <input type="radio" name="gender" value="male">
        </label>
         <label class=" pl-2 flex justify-start gap-2">
          Female
          <input type="radio" name="gender" value="female" required>
        </label>
      </div>#}
      <div class="flex gap-5">

        <button type="submit" class="btn btn-primary self-center">Show pokemons</button>
        <a href="{{url_for('home.register')}}" class="btn btn-primary self-center">Register</a>
      </div>
      
      
      <div>
        {{error}}
      </div>
      
    </form>
  </div>
</div>



{% endblock %}