{%extends "base.html" %}

{%block main%}
<div class="flex flex-col h-85">
   <div class="flex flex-row">
      <img src="{{winner.sprites.front_default}}" alt="FrontImage">
      <img src="{{url_for('static', filename='images/vs.png')}}" style="position: relative; z-index: 50;" alt="vs">
      <img src="{{looser.sprites.front_default}}" alt="FrontImageLooser">
   </div>
   <div class="grow h-[60vh] w-[70vw] bg-base-100 z-50">
      <p>Log de combate:</p>
      {%if logList%}
      
      {% for log in logList%}
      <div>{{log}}</div>
      {%endfor%}
      {%else%}
      <p>no hay log</p>
      {%endif%}
      <p>Ha ganado el pokemon {{winner.name|capitalize}}</p>
      <p>Ha perdido el pokemon {{looser.name|capitalize}}</p>
      <p>El combate ha durado {{turnos}} turnos</p>
      <a href="{{url_for('pokemon.pokemon_list')}}" class="btn btn-primary"> Volver a elegir pokemon</a>
   </div>
</div>
{%endblock%}