{% extends "base.html" %}

{% block title %}Pokemon Details{% endblock %}

{% block main %}

<section class="flex flex-col">
    <div>

        <h1 class="w-full h-[5vh] text-center text-white border-2">{{pokemon.name.capitalize()}}</h1>
    </div>
    <div class=" w-[80vw] mx-auto h-[35vh] flex flex-row justify-evenly">
        <figure class="flex flex-col justify-center align-center">
            <div class="carousel w-[35vw] max-w-screen-lg">
                <div id="slide1" class="carousel-item relative w-full">
                    {%if is_shiny%}

                    <img class="  self-center p-10 w-full h-full" src="{{pokemon.sprites.front_shiny}}" />
                    {%else%}
                    <img class="  self-center p-10 w-full h-full" src="{{pokemon.sprites.front_default}}" />

                    {%endif%}
                    <div class="absolute left-1 right-1 top-1/2 flex -translate-y-1/2 transform justify-between">
                        <a href="#slide4" class="btn btn-circle">❮</a>
                        <a href="#slide2" class="btn btn-circle">❯</a>
                    </div>
                </div>
                <div id="slide2" class="carousel-item relative w-full m-5">
                    {%if is_shiny%}
                    <img class="self-center p-10 w-full h-full" src="{{pokemon.sprites.back_shiny}}" />
                    {%else%}
                    <img class="self-center p-10 w-full h-full" src="{{pokemon.sprites.back_default}}" />

                    {%endif%}
                    <div class="absolute left-1 right-1 top-1/2 flex -translate-y-1/2 transform justify-between">
                        <a href="#slide1" class="btn btn-circle">❮</a>
                        <a href="#slide3" class="btn btn-circle">❯</a>
                    </div>
                </div>
            </div>
        </figure>

        <div class="text-white">
            {%for stat in pokemon.stats %}
            <p>{{stat.name}}</p>
            <p>{{stat.value}}</p>

            {%endfor%}
            <p>peso</p>


        </div>
    </div>
    <div class="w-full h-[40vh]            flex flex-row flex-wrap  justify-around align-center">
        {%for move in pokemon.moves%}
        <div class="border-2">
            <h2 class="text-white text-2xl">{{move.name}}</h2>
            <div>
                <div>Type: {{move.type}}</div>
                <div>Accuracy: {{move.accuracy}}</div>
                <progress class="progress w-56" value="{{move.accuracy}}" max="100"></progress>
                <div>Power: {{move.power}}</div>
                <progress class="progress w-56" value="{{move.power}}" max="150"></progress>
            </div>
        </div>
        {%endfor%}
    </div>
</section>
{% endblock %}