{% extends "base.html" %} {% block title %}Pokemon List{% endblock %} {% block
main %}
<section
  class="flex flex-column flex-wrap justify-center align-center pt-2 gap-2"
>
  {% for pokemon in pokemons %}
  <div class="card m-2 rounded-3xl bg-base-100  w-65 h-fit shadow-sm"
  
  
  
  {%if pokemon.types[0] == 'fire' %}
  style="border:4px solid red; background-image: url(../static/images/card_bg/fire.jpg); box-shadow: 5px 5px 5px black, -5px 0px 5px black; "
        {%elif pokemon.types[0] == 'electric'  %}
        style="border:4px solid yellow; background-image: url(../static/images/card_bg/electric.jpg); box-shadow: 5px 5px 5px black, -5px 0px 5px black; "
        {%elif pokemon.types[0] == 'grass'  %}
        style="border:4px solid green; background-image: url(../static/images/card_bg/grass.png); box-shadow: 5px 5px 5px black, -5px 0px 5px black;"
        {%elif pokemon.types[0] == 'flying'  %}
        style="border:4px solid lightslategray; background-image: url(../static/images/card_bg/flying.jpg); box-shadow: 5px 5px 5px black, -5px 0px 5px black;"
        {%elif pokemon.types[0] == 'poison'  %}
        style="border:4px solid magenta; background-image: url(../static/images/card_bg/poison.png); box-shadow: 5px 5px 5px black, -5px 0px 5px black;"
        {%elif pokemon.types[0] == 'water'  %}
        style="border:4px solid blue; background-image: url(../static/images/card_bg/water.png); box-shadow: 5px 5px 5px black, -5px 0px 5px black;"
        {%else%}
        style="border: 4px solid black; box-shadow: 5px 2px 5px black;"
        
        {%endif%}
        
        >
        <a  href="{{ url_for('pokemon_details', pokemon_ID=pokemon.id) }}">
            <h2 class="font-bold text-center my-4 w-full">{{pokemon.name.capitalize()}}</h2>
    
            {#<figure class=" border-5 mx-10 mt-5 " style="background-image: url(../static/images/bg_sprite.jpg);background-size: contain ;border-color: #5C6E06 ">#}
            <figure class=" border-5 mx-10 mt-5 " style="background-color:rgba(89, 106, 4, 0.5); border-radius: 2rem; box-shadow: 5px 2px 5px black;">

                <img  class="transform hover:scale-200 duration-300 ease-in-out" src="{{pokemon.sprites.front_default}}" alt="Pokemon.name" />
            </figure>
            <div class="card-body items-center text-center  px-2">
                
                <div class="flex flex-row gap-2">
                    
                    {%for type in pokemon.types%}
                    <div class="font-bold">

                        {{type.capitalize()}}
                    </div>
                    <img 
                    class="w-7 h-7 relative bottom-2 right-1"
                    src="../static/images/Types/{{type}}.png"
                    alt="type_icon"
                    />
                    
                    
                    
                    {%endfor%}
                </div>
                <div class=" transform hover:scale-110 duration-300 ease-in-out grid grid-cols-2 grid-rows-3  gap-x-3 text-left border-2 rounded-xl px-2 " style="border-color: rgb(0, 117, 117); box-shadow: 5px 2px 5px black;">

                    {%for stat in pokemon.stats%}
                    <div class="font-bold text-s w-30" style="font-family: Comic Sans MS, Arial, sans-serif;">
                            {{stat.name.capitalize()}}
                            
                        <progress class="progress progress-neutral w-25" value="{{stat.value}}" max="130"></progress>
                    </div>
                    {%endfor%}
                </div>
                
                <!-- <div class="card-actions">
                    <button class="btn btn-primary">Show details</button> 
                </div> -->
            </div>
        </a>
    </div>

    {%endfor%}
   
    <div class="h-2 w-full"></div>
</section>
{% endblock %}
