{% extends "base.html" %} {% block title %}Pokemon List{% endblock %}
{% block trainer%}
{% if session.trainer%}
<div class="text-xl mx-5">
    <a href="{{url_for('trainer.trainer_details')}}" class="flex flex-row justify-items-center items-center gap-4">


        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M17 5V3h-1V2h-2V1h-4v1H8v1H7v2H6v4h1v2h1v1h2v1h4v-1h2v-1h1V9h1V5zm-2 4v1h-1v1h-4v-1H9V9H8V5h1V4h1V3h4v1h1v1h1v4zm6 10v-1h-1v-1h-1v-1h-2v-1H7v1H5v1H4v1H3v1H2v3h1v1h18v-1h1v-3zM5 19v-1h2v-1h10v1h2v1h1v2H4v-2z" />
        </svg>
        <div class="flex flex-col">
            <h6 class="text-[0.9rem] border-b">My BadgeBattles</h6>
            <div>
                <p class="text-[0.8rem]">
                    Welcome <strong>{{session.trainer.name.capitalize()}}</strong>
                </p>
            </div>
        </div>
    </a>
</div>
{% endif%}
{%endblock%}

{% block main %}

<div class=" flex flex-col items-center">
<div
    class="w-[100%] h-[100%] flex flex-nowrap justify-around items-center:left overflow-y-scroll 2xl:overflow-y-hidden">

    <section
        class="grid w-[80vw] grid-cols-[repeat(auto-fit,minmax(250px,_max-content))] justify-center gap-x-20 pt-2 ">
        <!-- Iteración cartas pokemon -->
        {% for pokemon in pokemons %}
        <!-- Carta individual -->
        <div class="card rounded-3xl bg-base-100  w-65 h-[97%] shadow-sm  " style="border: 4px solid {{colors[pokemon.types[0]]}}; 
        background-image:url('{{url_for('static', filename='images/card_bg/'+pokemon.types[0]+'.png')}}')">
            <!-- Enlace para página detalle-->
            <a href="{{ url_for('pokemon.pokemon_details', pokemon_ID=pokemon.id) }}">
                <!-- Titulo -->
                <h2 class="font-bold text-center my-4 w-full">{{pokemon.name.capitalize()}}</h2>
                <!-- Imagen -->
                <figure class=" border-5 mx-15"
                    style="background-color:rgba(89, 106, 4, 0.5); border-radius: 2rem; box-shadow: 5px 2px 5px black;">

                    <img class="transform hover:scale-200 duration-300 ease-in-out"
                        src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}" />
                </figure>
                <!-- Cuerpo carta -->
                <div class="card-body items-center text-center  px-2">

                    <div class="flex flex-row gap-2">

                        {%for type in pokemon.types%}
                        <div class="font-bold">

                            {{type.capitalize()}}
                        </div>
                        <img class="w-7 h-7 relative bottom-2 right-1"
                            src="{{url_for('static', filename='/images/Types/'+type+'.png')}}" alt="type_icon" />

                        {%endfor%}
                    </div>
                    <div class=" transform hover:scale-110 duration-300 ease-in-out grid grid-cols-2 grid-rows-3  gap-x-3 text-left border-2 rounded-xl px-2 "
                        style="border-color: rgb(0, 117, 117); box-shadow: 5px 2px 5px black;">

                        {%for stat in pokemon.stats%}
                        <div class="font-bold text-s w-30" style="font-family: Comic Sans MS, Arial, sans-serif;">
                            {{stat.name.capitalize()}}

                            <progress class="progress progress-neutral w-25" value="{{stat.value}}"
                                max="130"></progress>
                        </div>
                        {%endfor%}
                    </div>

                    <!-- <div class="card-actions">
            <button class="btn btn-primary">Show details</button> 
        </div> -->
                </div>
            </a>
        </div>

        {%endfor%}

    </section>
    
    <form class="text-white w-[10%]" action="{{url_for('pokemon.pokemon_list')}}" method="POST">
        <label for="pokemon_finder">Name of the pokemon:</label>
        <input class="w-[100%]" type="text" name="pokemon_finder" id="pokemon_finder" required>
        <button type="submit" class="btn btn-primary">Search</button>
        <div>
            {{error}}
        </div>
    </form>
    
</div>
<form method="GET" class=" flex gap-10">
    <button name="page" type="submit" value={{page-1}} class="btn btn-primary">Previous</button>
    <p>{{page}} of {{total_pages}}</p>
    <button name="page" type="submit" value={{page+1}} class="btn btn-primary">Next</button>

</form>
</div>

{% endblock %}